* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

.form {
    display: flex;
    /* Align items to the start of the flex container */
    padding: 20px; /* Add padding around the form */
    height: 100vh;
}

.blueRect {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3B37FF;
    flex-basis: 25%; /* Adjust this as per your design requirement */
    color: white; /* Text color */
    padding: 20px; /* Add padding inside the blue rectangle */
    border-radius: 12px;
    height: 100%}

    
/* Add more specific styles for titles, paragraphs, etc. within the blue rectangle */

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis:64%; /* Adjust this as per your design requirement */
    padding: 0 0 0 24px; /* Add padding inside the form container */
}

.blueRect-footer {
    background-color: #3532e5;
    padding: 20px;
    border-radius: 10px;

}

.maintext-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 16px;
}

.blueRect-title {
    font-weight: 500;
}

.form-signup_text {
    font-size: 2rem;
    font-weight: 600;
    color: #3532E5;
}

/* En son input elemanı için sağ boşluğu sıfırla */
.input-container:last-child,
.input-mail_pass-container:last-child,
.input-phone_date-container:last-child,
.input-country-container:last-child,
.form-inputs-reason {
    margin-right: 0;
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Full width */
    padding: 15px; /* Padding inside the input fields */
    margin: 10px 0; /* Margin for spacing between fields */
    border: 2px solid #E1E1E1; /* Border style */
    border-radius: 5px; /* Rounded corners for the input fields */
}

.form-signup_box button {
    margin-top: 16px;
    width: 100%; /* Full width */
    padding: 15px; /* Padding inside the button */
    background-color: #3B37FF; /* Background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Pointer cursor on hover */
}

.form-signup_box button:hover {
    background-color: #2a29d4; /* Darker background color on hover */
}



/* Add responsive design */
@media (max-width: 768px) {
    .form {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }

    .blueRect,
    .form-container {
        flex-basis: 100%; /* Full width on smaller screens */
    }
}

.form-inputs-id-country {
    display: flex; /* Flex konteyner olarak ayarla */
    justify-content: flex-start; /* Elemanları başlangıç kenarına hizala */
    align-items: center; /* Elemanları dikey olarak ortala */
    width: 100%; /* Dış div'in tam genişliğini kapla */
  }
  
  .form-inputs-id-country form {
    display: flex; /* Form içinde flexbox kullan */
    width: 100%; /* Formun tam genişliği kapla */
  }
  
  .input-container {
    flex: 1; /* Flex elemanları eşit olarak genişlet */
    margin-right: 10px; /* Inputların arasında sağa doğru boşluk bırak */
  }
  
  
  .form-inputs-id-country input[type="text"] {
    width: 100%; /* Input elemanının genişliğini kapla */
    padding: 15px; /* Padding ekleyerek daha büyük tıklama alanı sağla */
    box-sizing: border-box; /* Padding ve border genişliği toplam genişliği etkilemez */
  }
  

   /*-----------------------*/
   .form-inputs-email-pass {
    display: flex; /* Flex konteyner olarak ayarla */
    justify-content: flex-start; /* Elemanları başlangıç kenarına hizala */
    align-items: center; /* Elemanları dikey olarak ortala */
    width: 100%; /* Dış div'in tam genişliğini kapla */
  }
  
  .form-inputs-email-pass form {
    display: flex; /* Form içinde flexbox kullan */
    width: 100%; /* Formun tam genişliği kapla */
  }
  
  .input-mail_pass-container {
    flex: 1; /* Flex elemanları eşit olarak genişlet */
    margin-right: 10px; /* Inputların arasında sağa doğru boşluk bırak */
  }
  
  
  .form-inputs-email-pass input[type="text"] {
    width: 100%; /* Input elemanının genişliğini kapla */
    padding: 15px; /* Padding ekleyerek daha büyük tıklama alanı sağla */
    box-sizing: border-box; /* Padding ve border genişliği toplam genişliği etkilemez */
    
  }
  
  /*-----------------------*/
  .form-inputs-phone-date {
    display: flex; /* Flex konteyner olarak ayarla */
    justify-content: flex-start; /* Elemanları başlangıç kenarına hizala */
    align-items: center; /* Elemanları dikey olarak ortala */
    width: 100%; /* Dış div'in tam genişliğini kapla */

  }
  
  .form-inputs-phone-date form {
    display: flex; /* Form içinde flexbox kullan */
    width: 100%; /* Formun tam genişliği kapla */
  }
  
  .input-phone_date-container {
    flex: 1; /* Flex elemanları eşit olarak genişlet */
    margin-right: 10px; /* Inputların arasında sağa doğru boşluk bırak */
    
    
  }
  
  
  .form-inputs-phone-date input[type="text"] {
    width: 100%; /* Input elemanının genişliğini kapla */
    padding: 15px; /* Padding ekleyerek daha büyük tıklama alanı sağla */
    box-sizing: border-box; /* Padding ve border genişliği toplam genişliği etkilemez */
  }

  /*-----------------------*/
  .form-inputs-city-district {
    display: flex; /* Flex konteyner olarak ayarla */
    justify-content: flex-start; /* Elemanları başlangıç kenarına hizala */
    align-items: center; /* Elemanları dikey olarak ortala */
    width: 100%; /* Dış div'in tam genişliğini kapla */
  }
  
  .form-inputs-city-district form {
    display: flex; /* Form içinde flexbox kullan */
    width: 100%; /* Formun tam genişliği kapla */
  }
  
  .input-country-container {
    flex: 1; /* Flex elemanları eşit olarak genişlet */
    margin-right: 10px; /* Inputların arasında sağa doğru boşluk bırak */
  }
  
  
  .form-inputs-city-district input[type="text"] {
    width: 100%; /* Input elemanının genişliğini kapla */
    padding: 15px; /* Padding ekleyerek daha büyük tıklama alanı sağla */
    box-sizing: border-box; /* Padding ve border genişliği toplam genişliği etkilemez */
  }

  select {
    width: 100%; /* Tam genişlik kullan */
    padding: 15px; /* İyi bir tıklama alanı için padding */
    margin: 10px 0; /* Üst ve alt elementler arası boşluk */
    border: 1px solid #E1E1E1; /* Sınır stilini belirle */
    border-radius: 5px; /* Kenarları yuvarlak yap */
    -webkit-appearance: none; /* Bazı tarayıcıların varsayılan stilini kaldır */
    -moz-appearance: none;
    appearance: none;
    cursor: pointer; /* İmleç el şeklinde olsun */
    background: url("../images/interestPolygon.svg") no-repeat;
    background-position: right 15px top 50%;

}

#input-phone-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#input-phone-date input {
  display: flex;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #E1E1E1;
  }

  .footer-p_info-container {
    display: flex;
    margin-top: 8px;
  }

  .footer-p_info-para {
    font-size: 12px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .footer-p_info {
    font-family: Poppins;
    font-weight: bold;

  }

  .footer-photo {
    border-radius: 5px;
  }

  textarea {
    resize: none;
    width: 100%; /* Full width */
    padding: 15px; /* Padding inside the input fields */
    margin: 10px 0; /* Margin for spacing between fields */
    border: 2px solid #E1E1E1; /* Border style */
    border-radius: 5px;
  }

  .equal-container {
    display: flex;
    gap: 0.5em;
    width: 49.25%;
  }

  .equal-container label{

    width: 50%;
    text-align: center;
    padding: 12px; /* Padding inside the input fields */
    margin: 10px 0; /* Margin for spacing between fields */
    border: 2px solid #E1E1E1;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  .equal-container input {
    display: none;
  }

  .file-upload-wrapper {
    resize: none;
    width: 100%; /* Full width */
    padding: 1.5rem;
    border: 2px solid #E1E1E1; /* Border style */
    border-radius: 5px;
    position: relative;
  }
  
  .file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .file-input-label {
    background-color: #3532E5; /* Use your desired color */
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .file-input-label:hover {
    background-color: #2a29d4; /* Darken the color a bit on hover */
  }
  
  .file-upload-info {
    margin-top: 1.5rem;
    text-align: center; 
    font-size: 1rem;
  }

  .label-container {
    display: flex;
    flex-direction: column;
    gap: .25em;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 1em;
  }

  .label-container input {
    margin-right: 0.5rem;
  }

  .adress-container textarea{
    height: 6rem;
  }

  .important-notice {
    text-align: center;
    margin: 0.5em auto 0 auto;
    background-color: #3532E5;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.55rem 0.25rem;
    color: #E1E1E1;
  }